<div class="table_container">
  <div class="header_list">
    <h2 class="header_table">Customers</h2>
    <a type="button" class="btn btn-primary header_button" [routerLink]="['/customer/create']">New Customer</a>
  </div>

  <table class="table">
    <thead class="table table-bordered">
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Total Ordered Cost</th>
        <th scope="col">Orders Count</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of (customers$ | async)">
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{getTotalOrderedCost(customer.orders)}} $</td>
        <td>{{customer.orders.length}}</td>
        <td>
          <button type="button" class="btn btn-danger action" (click)="removeCustomer(customer)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
