<div class="table_container">
  <div class="header_list">
    <h2 class="header_table">Products</h2>
    <button type="button" class="btn btn-primary header_button" [routerLink]="['/product/create']">New Product</button>
  </div>

  <table class="table">
    <thead class="table table-bordered">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category | category}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}} $</td>
        <td>
          <button type="button" class="btn btn-info action" (click)="viewProduct(product)">Details</button>
          <button type="button" class="btn btn-danger action" (click)="deleteProduct(product)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


