.item_form{
  .form_header{
    font-weight: 700;
    font-style: 22px;
    color: #0080ff;
  }
  padding: 10px;
  .control_buttons{
    float: right;
    margin: 0 0 25px 0;
    .button-control{
      margin: 0 15px 0 15px;
      min-width: 58px;
    }
  }
  .col-form-label{
    font-weight: 700;
  }
}
